{% extends 'chatapp/base.html'%}

{% block content %}
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 15%;float:left">
        <button><a href="/accounts/logout/?next=/chat/">Cerrar Sesion</a></button>

        <div class="list-group list-group-flush border-bottom scrollarea">

            {% for sala in salas_p %}

                <a href="/chat/{{sala.id}}" class="list-group-item hover-effect">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{sala.nombre}}</strong>
                    <small>
                        {% if sala.imagen %}
                            <img class="card-img-top" src="{{ sala.imagen.url }}"style="padding: 5px;width: 50px"/>
                        {% else %}
                            <img class="card-img-top" src="/media/imgsalas/default.webp"style="padding: 5px;width: 50px"/>
                        {% endif %}
                    </small>
                </div>
                </a>
            {% endfor %}

        </div>
    </div>
    <div style="float:left;width:85%">
        {% if room_name %}
            {% include 'chatapp/room.html' with room_name=room_name old_msg=old_msg %}
        {% else %}
            <p>Selecciona una sala para enpezar a chatear</p>
        {% endif %}
    </div>

{% endblock %} 