
{% load static %}
    <div id="nuser"><p>0</p></div>
    <div id='chat-log' class='box' onMouseOver="pauseDiv()" onMouseOut="resumeDiv()">
        {% for msg in old_msg %}           
            {% if msg.user|stringformat:'s' == user.username|stringformat:'s' %}
            <div class='card' style='width: 15%;margin-left: auto'>
                <div class="card-header">
                    <div class="dropdown">
                        {{msg.user}}
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 60%">
                          ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/chat/rm/{{room_name}}/{{msg.id}}">Eliminar Mensaje</a>
                        </div>
                      </div>
                </div>
                <div class='card-body'>
                    {% if msg.imagen %}
                        <img class="card-img-top" src="{{ msg.imagen.url }}"style="padding: 5px;width: 100%"/>
                    {% endif %}
                    <p style='text-align: right;'>{{msg.mensaje}}</p>
            {% else %}
            <div class='card' style='width: 15%'>
                <div class='card-header'>{{msg.user}}</div>
                <div class='card-body'>
                    {% if msg.imagen %}
                        <img class="card-img-top" src="{{ msg.imagen.url }}"style="padding: 5px;width: 100%"/>
                    {% endif %}
                    <p style='text-align: left;'>{{msg.mensaje}}</p>
            {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="input-group mb-3">
        <input id="chat-message-input" class="form-control" type="text">
        <div class="input-group-append">
          <input type="file" id="img-input" class="form-control"/>
          <input id="chat-message-submit" type="button" value="Send" class="btn btn-outline-primary"/>
        </div>
    </div>


    {{ room_name|json_script:"room-name" }}

    <script src="{% static 'chatapp/javascript/chatapp.js' %}"></script>

